.exam{
    margin-left: 5%;
    margin-top: 5%;
}
.name{
    margin-left: 5%;

}
.inst{
    margin-left: 5%;


}
ion-grid{
    margin-left: 5%;

}
.in{
    margin-left: 5%;
    
}
ion-button{
    margin-left: 25%;
}
.my-custom-class {
    --background: #222;
  }

  .counter{
      margin-left: 25%;
  }