
<ion-header>
  <ion-toolbar>
    <ion-title>
     Exam Portal Login
    </ion-title>
    
  </ion-toolbar>
</ion-header>
  <ion-content padding center text-center>
    
    <ion-list>
      <ion-item>
        <ion-input placeholder='E-mail' [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder='Password' type='password' [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" (click)='login()'>Log in</ion-button>
  </ion-content>
<button click>

</button>