<ion-list>
  <ion-list-header>READ ME</ion-list-header>
  <ion-item button>1.This is a timed test. Please make sure you are not interrupted during the test, as the
    timer cannot be paused once started.</ion-item>
  <ion-item button>2.Please ensure you have a stable internet connection.</ion-item>
  <ion-item button>3.We recommend you to try the sample test for a couple of minutes, before
    taking the main test.</ion-item>
 
    <ion-button color="success" (click)='dismissPopover()'>Close</ion-button>
</ion-list>