      <ion-list>
        <ion-radio-group  name="status" (ionChange)="filterExact('status',$event)" #status>
          <ion-list-header>
            <ion-label>STATUS</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Solved</ion-label>
            <ion-radio slot="start" value="Solved"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Unsolved</ion-label>
            <ion-radio slot="start" value="Unsolved"></ion-radio>
          </ion-item>
      
         
        </ion-radio-group>

        <ion-radio-group name="difficulty" (ionChange)="filterExact('difficulty',$event)" #difficulty>
          <ion-list-header>
            <ion-label>DIFFICULTY</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Easy</ion-label>
            <ion-radio slot="start" value="Easy"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Medium</ion-label>
            <ion-radio slot="start" value="Medium"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Hard</ion-label>
            <ion-radio slot="start" value="Hard"></ion-radio>
          </ion-item>
         
            
          
        </ion-radio-group>

        <ion-radio-group name="topic"   (ionChange)="filterExact('topic',$event)" #topic>
          <ion-list-header>
            <ion-label>DOMAIN</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Ratios and Proportions</ion-label>
            <ion-radio slot="start" value="Ratios and Proportions"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Direction</ion-label>
            <ion-radio slot="start" value="Direction"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Ages and Partnership</ion-label>
            <ion-radio slot="start" value="Ages and Partnership"></ion-radio>
          </ion-item>
         
        </ion-radio-group>
        <br>
        <br>
        <br>
        <ion-button expand='full' shape="round" fill="outline" color='success' (click)='dismiss()'>APPLY FILTER</ion-button>

        
      </ion-list>

     
     